langchain==0.3.27
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain_huggingface
langchain-groq==0.3.2
langchain-core==0.3.72
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
duckduckgo-search
mysql-connector-python
SQLALchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio
openai
langchain_nvidia_ai_endpoints
langchain_community
faiss-cpu
python-dotenv
streamlit
pypdf
crewai
crewai_tools
neo4j==5.14
langchain_experimental
lamini
langgraph 
langsmith
